html,
body {
  height: 100%;
  width: 100%;
  background-color: white;
  background-image: src('/assets/images/Top.png');
  background-repeat: repeat;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#nav {
  border-right: 2px;
  border-style: solid;
  border-color: grey;
  height: 100%;
  display: flex;
  min-width: 10vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#nav img{
  height: 15vh;
}

#content {
  padding: 0 40px 0 40px;
  width: 100%;
  background-color: grey;
}

#carousel {
  width: 100;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 4px;
  margin-top: 5vh;
  border-radius: 10px;
}

#carousel img {
  border-radius: 15px;
  object-fit: cover;
  width: 250px;
  height: 300px;
}

#carrousel-arrows-div {
  display: flex;
  justify-content: flex-start;
  padding-top: 3vh;
}

.carrousel-arrow-right {
  height: 20px;
}

.carrousel-arrow-left {
  height: 20px;
  transform: rotate(180deg);
}

button
{
  background-color: unset;
  border:none;
}
