html,
body {
  height: 100%;
  width: 100%;
  background-color: white;
  background-image: src('/assets/images/Top.png');
  background-repeat: repeat;
}

.container {
  height: 100%;
}

.flexbox-container {
  display: flex;
  height: 100%;
}

.nav {
  width: 10%;
  flex: 0.1;
  border-right: 2px;
  border-style: solid;
  border-color: grey;
  height: 100%;
}

#carousel {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 4px;
  margin-top: 5vh;
  border-radius: 10px;
  
}

#carousel img {
  border-radius: 15px;
  height: 25vw;
}

#carrousel-arrows-div {
  display: flex;
  justify-content: center;
  padding: 3vh;
}

.carrousel-arrow-right {
  height: 20px;
}

.carrousel-arrow-left {
  height: 20px;
  transform: rotate(180deg);
}

button
{
  background-color: unset;
  border:none;
}
